In [2]:
pip install pandas scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import warnings

df = pd.read_csv(r"C:\Users\singh\Downloads\Task 3 and 4_Loan_Data.csv")
data = df.drop(columns=['customer_id', 'default'])
default = df['default']

dataTrain, dataTest, defaultTrain, defaultTest = train_test_split(data, default, test_size = 0.2)

model = DecisionTreeClassifier()
models = DecisionTreeClassifier()

model.fit(data, default)
models.fit(dataTrain, defaultTrain)
 
predictions = models.predict(dataTest)

score = accuracy_score(defaultTest, predictions)

In [9]:
warnings.filterwarnings("ignore", category=UserWarning)

In [10]:
credit = int(input("Credit lines outstanding: "))
loan = int(input("Loan amt outstanding: "))
debt = int(input("Total debt outstanding: "))
income = int(input("Income: "))
years = int(input("Years employed: "))
fisco = int(input("Fisco score: "))

def defaultPrediction(credit, loan, debt, income, years, fisco):
    sample = pd.DataFrame([[credit, loan, debt, income, years, fisco]], columns = data.columns)
    prediction = model.predict(sample)
    return prediction

defprediction = defaultPrediction(credit, loan, debt, income, years, fisco)

if defprediction == 1:
    print("\nProbability of default is " + str(round((score*100), 4)) + "%")
else:
    print("\nProbability of default is " + str(round((100-score*100), 4)) + "%")


loanLoss = loan - (loan * 0.1)
print("The expected loss of the loan in the event of a default is: $" + str(loanLoss))

Credit lines outstanding:  1
Loan amt outstanding:  1
Total debt outstanding:  1
Income:  1
Years employed:  1
Fisco score:  1

Probability of default is 0.55%
The expected loss of the loan in the event of a default is: $0.9

In [11]:
data

,credit_lines_outstanding,loan_amt_outstanding,total_debt_outstanding,income,years_employed,fico_score
0,0,5221.545193,3915.471226,78039.38546,5,605
1,5,1958.928726,8228.752520,26648.43525,2,572
2,0,3363.009259,2027.830850,65866.71246,4,602
3,0,4766.648001,2501.730397,74356.88347,5,612
4,1,1345.827718,1768.826187,23448.32631,6,631
...,...,...,...,...,...,...
9995,0,3033.647103,2553.733144,42691.62787,5,697
9996,1,4146.239304,5458.163525,79969.50521,8,615
9997,2,3088.223727,4813.090925,38192.67591,5,596
9998,0,3288.901666,1043.099660,50929.37206,2,647
9999,1,1917.652480,3050.248203,30611.62821,6,757